<% provide(:title, 'Canvas Demo') %>


<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">IDB Order Form</h1>
  </div>
</div>

<div class="row" style="padding-bottom: 40px;">
  <div class="col-lg-12">
    <div id="canvasHolder">

      <div id="canvasDiv"></div>

      <div id="controls" class="panel panel-default">

        <div class="panel-heading">
          <h4 style="margin-top: 0">Step 1</h4>
        </div>

        <div id="control-container" class="panel-body">

          <div id="step1" style="display: none;">
            <p>Click to mark teeth that are missing, to be extracted, or not to be bonded.</p>
          </div>

          <div id="step2" style="display: none;">
            <p>Use your mouse to draw notes (you will be able to add text notes in the next step).</p>
            <button type="button" id="pencil" class="btn btn-primary">Pencil</button><button type="button" id="erasor" class="btn">Erasor</button>
          </div>

          <div id="step3" style="display: none;">
            <p>Click on a tooth to add text notes.</p>
              <% for x in 0...32 %>
                <div  id="select<%= x %>" style="display: none;">
                  <hr>
                  <h4><%= @teeth[x] %></h4>
                  <textarea rows="5"></textarea>
                </div>
              <% end %>
          </div>

        </div>

        <div class="panel-footer">
          <span id="previousLink">Previous</span>
          <button type="button" id="nextLink" class="btn btn-primary">Next</button>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  canvasDraw.init();
</script>