<% cat = locals[:cat] %>
<% expandHeight = 155 - (@day.items.select(:category).distinct.count * 23) %>

<div class='panel panel-default <%= cat %>' data-toggle='collapse' data-parent='#accordion<%= @day.day %>' data-target='#collapse<%= @day.day.to_s + cat %>'>
  <div class='panel-heading <%= cat %>' role='tab' id='heading<%= @day.day.to_s + cat %>' >
    <h4 class='panel-title'>
      <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion<%= @day.day %>' href='#collapse<%= @day.day.to_s + cat %>' aria-expanded='false' aria-controls='collapse<%= @day.day.to_s + cat %>'>
        <%= @day.items.where( category: cat ).sum("amount").to_money %>
        <%= fa_icon @day.categorySymbol( cat ) %>
      </a>
    </h4>
  </div>
  <div id='collapse<%= @day.day.to_s + cat %>' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading<%= @day.day.to_s + cat %>'>
    <div class='panel-body' style="max-height: <%= expandHeight %>px; overflow: auto">
    <% @day.items.where(category: cat).each do |i| %>
      <% if i.category == 'check' %>
        <% @bank += i.amount %>
      <% else %>
        <% @bank -= i.amount unless i.subtype == 'cash' %>
      <% end %>
      <div class='accordionItem <%= cat %>'>
        <% if i.actual %>
          <p class='name' data-toggle='tooltip' data-placement='top' title='<%= i.actual %>' style='cursor: default'>
        <% else %>
          <p class='name' data-toggle='modal' data-target='#edititem' onclick='dayform("edit", <%= @day.id %>, "<%= i.category %>", "<%= i.title %>", "<%= i.amount.to_money( '', false, '' ) %>", "<%= i.id %>")' >
        <% end %>
          <%= i.title %><span class='amount'><%= i.amount.to_money %> <%= fa_icon i.itemIcon %></span>
        </p>
      </div>
    <% end %>
    </div>
  </div>
</div>