<% style = locals[:y] ? "data-toggle='modal' data-target='#changebank'" : "style='cursor: default'" %>
<div class='total<%= ' negative' if @bank < 0 %>' <%= style.html_safe %> >
    <%= @bank.to_money %>
    <%= fa_icon "exclamation-circle", style: 'color: red' if locals[:x] %>
</div>