<div class='dateCell grayed'>
  <% if x == display %>
    <p class='remaining'>Remaining:</p>
    <% @month.items.where(subtype: 'unscheduled').each do |i| %>
      <% budgeted = @budget.find_by(title: i.title).amount %>
      <% spent = unscheduledSpent i.title %>
      <% unscheduledRemainder = budgeted - spent %>
      <div class='budget' style='font-size: 12px; overflow: auto; padding: 2px; border-bottom: 1px solid #6666ff;'>
        <p class='name' data-toggle="tooltip" data-placement="top" title="Budget: <%= budgeted.to_d.to_money('', true) %> Spent: <%= spent.to_d.to_money('', true) %>">
          <%= i.title %><span class='amount'><%= unscheduledRemainder.to_d.to_money('', true) %></span>
        </p>
      </div>
    <% end %>
    <%= render "bank", locals: {x: false, y: true} %>
  <% end %>
</div>
