<div class='row' style='margin-bottom: 20px'>

<% @month.firstday.wday.times do |x| %>
  <%= render partial: "blank", locals: {x: x, display: @month.firstday.wday - 1} %>
<% end %>

<% endDay = @month.loopDays do |l| %>
  <% dayWeek = l.wday %>
  <% @day = @month.days.find_by(day: l.day) %>
  <% weekend = l.workday? ? '' : ' weekend' %>
  
  <div class='dateCell<%= weekend %>'>
    <div class='dateTitle'><%= @day.day %></div>
    
    <% if @day.items.size > 0 %>
      <div class='panel-group' id='accordion<%= @day.day %>' role='tablist' aria-multiselectable='true'>
      <% CATEGORIES.each do |cat| %>
        <% if @day.items.where(category: cat).exists? %>
        
          <%= render "accordion", locals: { cat: cat } %>
        
        <% end %>
      <% end %>
      </div>
    <% end %>
    <div class='dropdown' style='padding-left: 3px'>
      <i class='fa fa-plus-square' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'></i>
      <ul class='dropdown-menu' aria-labelledby='dLabel'>
      <% CATEGORIES.each do |c| %>
        <li class='name' data-toggle='modal' data-target='#newitem' onclick='dayform("new", <%= @day.id %>, "<%= c %>")' >Add new <%= c %></li>
      <% end %>
      </ul>
    </div>
    <%= render 'bank', locals: { x: @day.isWrong } %>
  </div>
  
<% end %>

<% (6 - endDay.to_i).times do |x| %>
  <%= render partial: "blank", locals: {x: x, display: 0} %>
<% end %>

<% @month.update_attribute :endbank, @bank %>
</div>
