<% formId = locals[:formId] %>
<% f = locals[:formObject] %>

<div class='row' style='margin-top: 10px; height: 200px'>
  <div class='radioDates col-xs-7 col-xs-offset-2'>
    <% 7.times do |x| %>
      <%= f.label("blank", Date::DAYNAMES[x][0], :class => 'radio', :style => "border: 1px solid white") %>
    <% end %>
    <br>
    <% @month.firstday.wday.times do %>
      <label class='blankdate'>0</label>
    <% end %>
    <% endDay = @month.loopDays do |l| %>
      <% dayId = @month.days.find_by(day: l.day).id %>
      <%= f.radio_button :day_id, dayId %>
      <%= f.label("day_id_" + (dayId).to_s, l.day, :class => 'radio') %>
      <%= '<br>'.html_safe if l.wday == 6 %>
    <% end %>
    <% (6 - endDay).times do %>
      <label class='blankdate'>0</label>
    <% end %>
  </div>
</div>