<% formtype = locals[:formtype] %>
<% thisUrl = formtype == 'new' ? newitem_path : edititem_path %>

<%= render "shared/modal", locals: { idName: formtype + 'item', name: 'Add new item', formFor: @item, formUrl: thisUrl } do |f| %>

  <%= render "shared/formItem" do %>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'amount', :list => '' %>
  <% end %>
  
  <%= render "shared/formItem" do %>
    <%= f.label :amount %>
    <%= f.text_field :amount, :class => 'amount' %>
  <% end %>
  
  <%= f.hidden_field :category %>
  
  <%= render 'formdays', locals: { formId: 'newitem', formObject: f } %>
  
  <%= hidden_field_tag 'month_id', @month.id %>
  
  <% provide ("footer" + formtype + "item").to_sym do %>
    <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
    <%= f.submit "Save Changes", :class => 'btn btn-primary' %>
    <% if formtype == 'edit' %>
      <%= f.hidden_field :id %>
      <%= f.submit "Delete", :class => 'btn btn-default', :name => 'delete', :style => 'float: left' %>
    <% end %>
  <% end %>
  
<% end %>