<%= render "itemform", locals: { formtype: 'edit' } %>
<%= render "itemform", locals: { formtype: 'new' } %>

<%= render "shared/modal", locals: { idName: 'changebank', name: 'Change bank balance', formFor: @month, formUrl: bank_path } do |f| %>

  <%= render "shared/formItem" do %>
    <%= f.label :startbank, 'New amount' %>
    <%= f.text_field :startbank, :value => @month.startbank.to_money('', false, ''), :class => 'amount' %>
  <% end %>
  
  <%= f.hidden_field :id %>
  
  <% provide :footerchangebank do %>
    <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
    <%= link_to "Previous month's balance", reset_path(@month), method: :patch, class: "btn btn-default" if @month.previous %>
    <%= f.submit "Save Changes", :class => 'btn btn-primary' %>
  <% end %>
  
<% end %>

<%= render "shared/modal", locals: { idName: 'csvimport', name: 'Upload CSV file', formFor: :transactions, formUrl: import_path } do |f| %>

  <p>Choose file with transaction records:</p>
  <%= render "shared/formItem" do %>
    <%= f.file_field :csvfile, :accept => '.csv' %>
  <% end %>
  
  <%= f.hidden_field :month_id, :value => @month.id %>
  
  <% provide :footercsvimport do %>
    <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
    <%= f.submit "Submit File", :class => 'btn btn-primary' %>
  <% end %>
  
<% end %>

<% CATEGORIES.each do |x| %>
  <datalist id='<%= x %>'>
    <% @user.lists.where({ category: x }).each do |y| %>
      <option value='<%= y.title %>'>
    <% end %>
  </datalist>
<% end %>