<% CATEGORIES.each do |cat| %>
  <% plannedTotal = 0.to_d %>
  <% actualTotal = 0.to_d %>
  <div class='row title'>
    <% displayTitle = cat == 'budget' ? cat.capitalize : cat.capitalize.pluralize %>
    <div class='col-xs-3'><%= displayTitle %></div>
    <div class='col-xs-3'><%= 'Planned' if cat == CATEGORIES[0] %></div>
    <div class='col-xs-3'><%= 'Actual' if cat == CATEGORIES[0] %></div>
    <div class='col-xs-3'><%= 'Difference' if cat == CATEGORIES[0] %></div>
  </div>
  <% @month.distinctItems( cat ).each do |x| %>
    <% actualspent = spent( x, cat ) %>
    <% budgettotal = budgeted( x, cat ) %>
    <% dif = budgettotal - actualspent %>
    <% stat = status( dif, cat ) %>
    <div class='row budgetList'>
      <% symbol = @month.status( x ) %>
      <% tooltip = symbol == 'check' ? 'All planned items have been syncronized' : 'Amount may change, some planned items not yet syncronized' %>
      <div class='col-xs-3' data-toggle='tooltip' data-placement='top' title='<%= tooltip %>'>
        <p><%= fa_icon symbol %> <%= x %></p>
      </div>
      <div class='col-xs-3'><%= budgettotal.to_money %></div>
      <div class='col-xs-3 <%= stat %>'><%= actualspent.to_money %></div>
      <div class='col-xs-3 <%= stat %>'><%= dif.to_money('') %></div>
    </div>
    <% plannedTotal += budgettotal %>
    <% actualTotal += actualspent %>
  <% end %>
  <div class='row budgetList net'>
    <% dif = plannedTotal - actualTotal %>
    <% stat = status( dif, cat ) %>
    <div class='col-xs-3'><%= displayTitle %> Total</div>
	  <div class='col-xs-3'><%= plannedTotal.to_money %></div>
    <div class='col-xs-3 <%= stat %>'><%= actualTotal.to_money %></div>
    <div class='col-xs-3 <%= stat %>'><%= dif.to_money('') %></div>
  </div>
<% end %>