<% provide(:title, @month.firstday.strftime('%B %Y')) %>
<h1>
  <%= render 'arrow', locals: { dir: 'left' } %>
  <%= @month.firstday.strftime('%B %Y') %>
  <%= render 'arrow', locals: { dir: 'right' } %>
  <%= link_to "RESET", @month, method: :delete, data: { confirm: "This will remove all data associated with this month, and reset it to the default value. Proceed?" }, class: "tiny" %>
  <span class="tiny"> | </span>
  <span class="tiny" data-toggle="modal" data-target="#csvimport" style="padding-left: 10px">Import CSV</span>
</h1>

<% transactionCount = @month.transactions.where(entered: false).count %>
<% if transactionCount > 1 %>
  <p>There are <%= transactionCount %> unassigned transactions. <%= link_to "Click here to assign.", import_path %></p>
<% end %>

<div class='row'>
  <% 7.times do |x| %>
    <div class='dateCell topRow'><%= Date::DAYNAMES[x] %></div>
  <% end %>
</div>

<%= render "day" %>

<%= render "recap" %>

<%= render "modals" %>
