Hi <%= @user.name %>,

Welcome to the Budget App! To get started, please visit the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
