<h1>Budget App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to the Budget App! To get started, please click the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
