<h1>Reset your password</h1>

<p>To reset your password click the link below:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours.</p>

<p>
  If you did not request a password reset, ignore this email, your password will not be changed.
</p>
