Reset your password

To reset your password click the link below:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

This link will expire in two hours.

If you did not request a password reset, ignore this email, your password will not be changed.
