<div class='col-sm-6'>
  <% @list.each do | cat, subt | %>
    <h2>
      <%= cat == 'budget' ? cat.to_s.capitalize : cat.to_s.pluralize.capitalize %>
      <a style="font-size: 18px" data-toggle='modal' data-target='#newbudget' onclick='budgetform("new", "<%= cat %>")'><%= fa_icon "plus-square-o" %></a>
    </h2>
    <% subt.each do | subcat | %>
      <div class='row' style='margin: 0 0 0 20px' >
      <% if subcat %>
        <h3>
          <%= subcat.capitalize %>
          <a style="font-size: 18px" data-toggle='modal' data-target='#newbudget' onclick='budgetform("new", "<%= cat %>", "<%= subcat %>")'>
            <%= fa_icon "plus-square-o" %>
          </a>
        </h3>
      <% end %>
      <% bud = @budgets.where( category: cat, subtype: subcat ) %>
      <% bud.each do | budget | %>
        <a style='color: black' data-toggle='modal' data-target='#editbudget' 
          onclick='budgetform("edit", "<%= budget.category %>", "<%= budget.subtype %>", "<%= budget.title %>", "<%= budget.amount.to_money( '', false, '' ) %>", "<%= budget.id %>", "<%= budget.date %>", "<%= freq_type budget.date %>" )'>
          <p class='name'>
            <%= budget.title %>
            <span class='frequency'><%= show_frequency(budget.date) %></span>
            <span class='amount'><%= budget.amount.to_money %></span>
          </p>
        </a>
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>
