<% formtype = locals[:formtype] %>
<% thisUrl = formtype == 'new' ? newbudget_path : budget_path %>
<% idName = formtype + 'budget' %>
<% name = locals[:name] %>
<% formFor = locals[:formFor] %>
<% formUrl = locals[:formUrl] %>
<% cat = locals[:cat] %>
<% subcat = locals[:subcat] %>
<%# freqType = dateNumber ? freq_type( dateNumber ) : 'weekly' %>

<%= render "shared/modal", locals: { idName: idName, name: 'Add new budget item', formFor: @budget, formUrl: thisUrl } do |f| %>

  <%= render "shared/formItem" do %>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'amount' %>
  <% end %>
  
  <%= render "shared/formItem" do %>
    <%= f.label :amount %>
    <%= f.text_field :amount, :class => 'amount' %>
  <% end %>
  
  <div id='<%= formtype %>datehide' >
    <% frequencies = ['weekly', 'biweekly', 'monthly'] %>
    <ul class="nav nav-tabs" role="tablist">
      <% frequencies.each do |freq| %>
        <% active = freq == 'weekly' ? "active" : "" %>
        <li role="presentation" class="<%= active %>" id="<%= formtype + freq %>tab">
          <a href="#<%= idName + freq %>" aria-controls="<%= idName + freq %>" role="tab" data-toggle="tab"><%= freq.capitalize %></a>
        </li>
      <% end %>
    </ul>
    
    <div class="tab-content" id='<%= idName %>date'>
      <% frequencies.each do |freq| %>
        <% partialName = freq == "monthly" ? "shared/formdays" : "formweekdays" %>
        <% active = freq == 'weekly' ? " active" : "" %>
        <% offset = freq == "weekly" ? 0 : freq == "biweekly" ? 7 : 13 %>
        <div role="tabpanel" class="tab-pane<%= active %>" id="<%= idName + freq %>">
          <%= render partialName, locals: { formId: idName, formObject: f, offset: offset } %>
        </div>
      <% end %>
    </div>
  </div>
  
  <%= f.radio_button :date, 45, :style => 'display: none' %>
  <%= f.hidden_field :category %>
  <%= f.hidden_field :subtype %>

  <% provide "footer#{ idName }".to_sym do %>
    <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
    <%= f.submit "Save Changes", :class => 'btn btn-primary' %>
    <% if formtype == 'edit' %>
      <%= f.hidden_field :id %>
      <%= f.submit "Delete", :class => 'btn btn-default', :name => 'delete', :style => 'float: left' %>
    <% end %>
  <% end %>
  
<% end %>