<% formId = locals[:formId] #Date::DAYNAMES[x][0] %>
<% offset = locals[:offset] ? locals[:offset] : 0 %>
<% f = locals[:formObject] %>

<div class='row' style='margin-top: 10px; height: 200px'>
  <div class='radioDates col-xs-7 col-xs-offset-2'>
    <% 7.times do |x| %>
      <%= f.radio_button :date, x + offset %>
      <%= f.label("date_" + (x + offset).to_s, Date::DAYNAMES[x][0], :class => 'radio') %>
    <% end %>
  </div>
</div>