<div class='col-sm-6'>
  <% income = budgetedTotal( 'check' ) %>
  <% bills = budgetedTotal( 'bill' ) %>
  <% budgets = budgetedTotal( 'budget' ) %>
  <% netTotal = income - (bills + budgets) %>
  <% stat = status( netTotal, '' ) %>
  <div class='row title' style='margin-bottom: 5px'>
    <div class='col-xs-6'>Income Total</div>
    <div class='col-xs-6'><%= income.to_money %></div>
  </div>
  <div class='row budgetList'>
    <div class='col-xs-6'>Bills</div>
    <div class='col-xs-6'><%= bills.to_money %></div>
  </div>
  <div class='row budgetList'>
    <div class='col-xs-6'>Budget</div>
    <div class='col-xs-6'><%= budgets.to_money %></div>
  </div>
  <div class='row title' style='margin-top: 0px'>
    <div class='col-xs-6'>Spending Total</div>
    <div class='col-xs-6 <%= stat %>'><%= ( bills + budgets ).to_money %></div>
  </div>
  <div class='row budgetList net' style='font-size: 24px'>
    <div class='col-xs-6'>Net Total</div>
    <div class='col-xs-6 <%= stat %>'><%= netTotal.to_money %></div>
  </div>
</div>