<% provide(:title, "Edit Budget Plan") %>
<div class='row'>
  <h1 style="margin-bottom: 5px">
    Edit budget plan
  </h1>
  <p style="margin-left: 15px"><i>Click an item to edit</i></p>
</div>

<div class='row'>
  <%= render "budgetlist" %>
  <%= render "recap" %>
</div>

<% if !@user.init %>
  <div class='row' style='margin-top: 20px'>
    <div class='col-sm-6' style='text-align: center;'>
      <p style='text-align: center'><em>Don't click until initial budget changes have been made.</em></p>
      <a href='<%= init_path %>' class='btn btn-primary'>Initialize Budget</a>
    </div>
  </div>
<% end %>

<%= render "budgetform", locals: { formtype: 'edit' } %>
<%= render "budgetform", locals: { formtype: 'new' } %>
