<% formId = locals[:formId] %>
<% offset = locals[:offset] ? locals[:offset] : 0 %>
<% f = locals[:formObject] %>

<div class='row' style='margin-top: 10px; height: 200px'>
  <div class='radioDates col-xs-7 col-xs-offset-2'>
    <% 7.times do |x| %>
      <%= f.label("blank", Date::DAYNAMES[x][0], :class => 'radio', :style => "border: 1px solid white") %>
    <% end %>
    <br>
    <% @month.firstday.wday.times do %>
      <label class='blankdate'>0</label>
    <% end %>
    <% endDay = @month.loopDays do |l| %>
      <% dayWeek = l.wday %>
      <% radioDay = l.day %>
      <%= f.radio_button :date, radioDay + offset %>
      <%= f.label("date_" + (radioDay + offset).to_s, radioDay, :class => 'radio') %>
      <%= '<br>'.html_safe if dayWeek.to_i == 6 %>
    <% end %>
    <% (6 - endDay).times do %>
      <label class='blankdate'>0</label>
    <% end %>
  </div>
</div>