<% idName = locals[:idName] %>
<% name = locals[:name] %>
<% formFor = locals[:formFor] %>
<% formUrl = locals[:formUrl] %>
<% method = locals[:method] %>

<div class="modal fade" id="<%= idName %>" tabindex="-1" role="dialog" aria-labelledby="<%= idName %>Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="<%= idName %>Label"><%= name %></h4>
      </div>
      <%= form_for formFor, url: formUrl, :namespace => idName, :method => method do |f| %>
        <div class="modal-body">
          <%= yield f %>
        </div>
        <div class='modal-footer'>
          <%= yield("footer#{ idName }".to_sym) %>
        </div>
      <% end %>
    </div>
  </div>
</div>