/* global $ */

var canvasDraw = (function () {
	"use strict";

	var canvas,
		context,
		canvasWidth = 600,
		canvasHeight = 400,
		mouseX,
		mouseY,
		clickX = [],
		clickY = [],
		clickDrag = [],
		clickColor = [],
		markedTeeth = [],
		selected,
		paint = false,
		numbers = new Image(),
		teethColors = new Image(),
		color = 'red',
		markedImg = [],
		normalImg = [],
		selectImg = [],
		resources = 0,
		totalResources = 98,
		test,
		step = 1,

	clearCanvas = function() {
		context.clearRect( 0, 0, canvasWidth, canvasHeight );
	},

	getMouse = function( e ) {
		var offset = $( '#canvas' ).offset();
		mouseX = e.pageX - offset.left;
		mouseY = e.pageY - offset.top;
	},

	redraw = function() {
		var marking = function() {
		},

		drawing = function() {
			var img, tempimg;

			tempimg = context.getImageData( 0, 0, canvasWidth, canvasHeight );
			clearCanvas();

			context.lineCap = "round";
			context.lineJoin = "round";
			for(var i = 0; i < clickX.length; i++ ) {
				context.lineWidth = clickColor[ i ] == 'white' ? 11 : 3;
				context.beginPath();
				if( clickDrag[ i ] && i ) {
					context.moveTo( clickX[ i - 1 ], clickY[ i - 1 ] );
				} else {
					context.moveTo( clickX[ i ] - 1, clickY[ i ] );
				}
				context.lineTo( clickX[ i ], clickY[ i ] );
				context.strokeStyle = clickColor[ i ];
				context.stroke();
			}
			context.closePath();

			img = context.getImageData( 0, 0, canvasWidth, canvasHeight );
			for( var x = 0; x < img.data.length; x += 4 ) {
				var pixcolor = img.data[ x ] + img.data[ x + 1 ] + img.data[ x + 2 ];
				if( pixcolor == 765 )
				{
					img.data[ x + 3 ] = 0;
				}
				if ( img.data[ x + 3 ] == 0 )
				{
					for( var y = 0; y < 4; y++ )
					{
						img.data[ x + y ] = tempimg.data[ x + y ];
					}
				}
			}
			context.putImageData( img, 0, 0 );
		},

		writing = function() {
			drawing();
		};

		clearCanvas();
		context.drawImage( numbers, 0, 0 );
		for( var x = 0; x < 32; x++ ) {
			if( markedTeeth[ x ] ) {
				context.drawImage( markedImg[ x ], 0, 0 );
			} else {
				context.drawImage( normalImg[ x ], 0, 0 );
			}
		}
		for( var x = 0; x < 32; x++ ) {
			if( x == selected ) {
				context.drawImage( selectImg[ x ], 0, 0 );
			}
		}
		switch( step ) {
			case 1:
				marking();
				break;
			case 2:
				drawing();
				break;
			case 3:
				writing();
				break;
		}

	},

	addClick = function( x, y, dragging ) {
		clickX.push( x );
		clickY.push( y );
		clickDrag.push( dragging );
		clickColor.push( color );
	},

	toothNumber = function() {
		var img, pixel;
		clearCanvas();
		context.drawImage( teethColors, 0, 0 );
		img = context.getImageData( mouseX, mouseY, 1, 1 );
		pixel = img.data[0];
		return pixel - 1;
	},

	showArray = function( arr ) {
		var string = '';
		for( var x = arr.length - 5; x < arr.length; x++ )
		{
			string += '[' + x + ']' + arr[ x ] + '; ';
		}
		return string;
	},

	createMarkEvents = function() {
		var select = function( e ) {
			getMouse( e );
			markedTeeth[ toothNumber() ] = markedTeeth[ toothNumber() ] == true ? false : true;
			redraw();
		};
		$( canvas ).off();
		$( canvas ).on( 'click', select );
	},

	createPaintEvents = function() {
		var press = function( e ) {
			getMouse( e );
			paint = true;
			addClick( mouseX, mouseY, false );
			redraw();
		},
		drag = function( e ) {
			if( paint ) {
				getMouse( e );
				addClick( mouseX, mouseY, true );
				redraw();
			}
		},
		release = function( e ) {
			paint = false;
			redraw();
		},
		cancel = function( e ) {
			paint = false;
		};

		$( canvas ).off();
		$( canvas ).on( 'mousedown', press );
		$( canvas ).on( 'mousemove', drag );
		$( canvas ).on( 'mouseup', release );
		$( canvas ).on( 'mouseout', cancel );

		$( '#pencil' ).click( function() {
			$( '#step2 button' ).removeClass( 'btn-primary' );
			$( this ).addClass( 'btn-primary' );
			$( '#canvas' ).css( 'cursor', "url( '<%= asset_path( 'assets/orderform/paintbrush.cur', digest: true ) %>' ), auto" );
			color = 'red';
		});

		$( '#erasor' ).click( function() {
			$( '#step2 button' ).removeClass( 'btn-primary' );
			$( this ).addClass( 'btn-primary' );
			$( '#canvas' ).css( 'cursor', "url( '<%= asset_path( 'assets/orderform/erasor.cur', digest: true ) %>' ), auto" );
			color = 'white';
		});

	},

	createTextEvents = function() {
		var select = function( e ) {
			var thisTooth;
			$( '#step3 div' ).hide();
			getMouse( e );
			thisTooth = toothNumber();
			selected = selected == thisTooth ? null : thisTooth;
			if( selected !== null ) {
				$( '#select' + selected ).show();
			}
			redraw();
		};
		$( canvas ).off();
		$( canvas ).on( 'click', select );
	},

	buttonListener = function() {
		$( '#nextLink' ).click( function() {
			step = step < 3 ? step + 1 : step;
			switchStep();
		});
		$( '#previousLink' ).click( function() {
			step = step > 1 ? step - 1 : step;
			switchStep();
		});
	},

	switchStep = function() {
		$( '#control-container div' ).hide();
		$( '#previousLink, #nextLink, #step' + step ).show();
		$( '.panel-heading h4' ).html( 'Step ' + step );
		selected = null;

		switch( step ) {
			case 1:
				$( '#previousLink' ).hide();
				$( '#canvas' ).css( 'cursor', "default" );
				createMarkEvents();
				break;
			case 2:
				createPaintEvents();
				$( '#pencil' ).click();
				break;
			case 3:
			$( '#nextLink' ).hide();
				$( '#canvas' ).css( 'cursor', "default" );
				createTextEvents();
				break;
		}
		redraw();
	},

	resourceLoaded = function() {
		resources++;
		if( resources == totalResources ) {
			redraw();
			buttonListener();
			switchStep();
		}
	},

	init = function() {
		canvas = document.createElement( 'canvas' );
		canvas.setAttribute( 'width', canvasWidth );
		canvas.setAttribute( 'height', canvasHeight );
		canvas.setAttribute( 'id', 'canvas' );
		$( '#canvasDiv' ).append( canvas );
		if( typeof G_vmlCanvasManager !== 'undefined' ) {
			canvas = G_vmlCanvasManager.initElement( canvas );
		}
		context = canvas.getContext( "2d" );
		for( var x = 0; x < 32; x++ ) {
			markedTeeth[x] = false;
			markedImg[x] = new Image();
			markedImg[x].onload = resourceLoaded;
			markedImg[x].src = "<%= asset_path( 'assets/orderform/marked/" + x + ".png', digest: true ) %>";
			normalImg[x] = new Image();
			normalImg[x].onload = resourceLoaded;
			normalImg[x].src = "<%= asset_path( 'assets/orderform/normal/" + x + ".png', digest: true ) %>";
			selectImg[x] = new Image();
			selectImg[x].onload = resourceLoaded;
			selectImg[x].src = "<%= asset_path( 'assets/orderform/selected/" + x + ".png', digest: true ) %>";
		}
		context.imageSmoothingEnabled= false;
		numbers.onload = resourceLoaded;
		numbers.src = "<%= asset_path( 'assets/orderform/numbers.png', digest: true ) %>";
		teethColors.onload = resourceLoaded;
		teethColors.src = "<%= asset_path( 'assets/orderform/teeth-colors.png', digest: true ) %>";
	};

	return {
		init: init
	};

}());
