#canvasDiv {
  display: inline-block;
  height: 400px;
}

#controls {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 400px;
  border: 1px solid #aaa;
  box-sizing: content-box;
  top: -1px;
  left: 600px;
  background-color: white;
  margin-bottom: 0px;
}

#controls .panel-footer {
  position: absolute;
  height: 55px;
  bottom: 0px;
  width: 100%
}

h4 + textarea {
  width: 100%;
}

#nextLink {
  float: right;
}

#previousLink {
  line-height: 34px;
  color: #999;
  cursor: pointer;
}

#canvasHolder, #canvasHolder2 {
  margin-left: 134px;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
}

#canvasHolder {
  padding-right: 5px;
  border: 1px solid #ccc;
  height: 400px;
}

#canvasHolder2 {
  height: 189px;
}

#step2 button {
  margin: 2px;
}