@import "variables/*";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "*";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
   height: 100%;
   font-family: Verdana, Helvetica, sans-serif;
   margin: 0;
}

body {
  padding: 50px 0 0 0;
}

#body {
  padding-bottom: 105px;
}

div {
 @include box_sizing;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  //text-align: center;
}

p {
  //font-size: 1.1em;
  //line-height: 1.7em;
}

.name {
  text-align: left;
  margin: 0;
  clear: both;
  cursor: pointer;
}

.amount {
  float: right;
}

select.amount {
  max-width: 50%;
}

.frequency {
  font-size: 10px;
  padding-left: 15px;
}

/* forms */

textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.tiny {
 font-size: 10px;
 cursor: pointer;
}

.arrowButton {
  font-size: 30px;
}

  //Date radio styles

.dayRow, .blankdate, .radioDates .radio  {
  display: inline-block;
  margin: -.5px -3px;
  width: 14%;
  height: 30px;
  position: relative;
  box-sizing: content-box;
  text-align: center;
  line-height: 30px;
}

.dayRow {
  border: 1px solid #fff;
  margin: -.25%;
}

.radioDates .radio .weekend {
  background-color: #ddd;
}

.blankdate {
  background-color: #ddd;
  border: 1px solid #aaa;
  color: #ddd;
}

.radioDates .radio {
  background-color: white;
  border: 1px solid #aaa;
}

.radioDates .radio.weekend {
  background-color: #e5e5e5;
}

.radioDates .radio.checked {
  border: 2px solid #999;
  margin: -1.5px -4px;
}

.radioDates input[type = radio] {
  display: none;
}

.radioDates input[type = radio]:checked + .radio {
  background-color: #999;
}

/* calendar */

.dateTitle {
  width: 100%;
  background-color: #999;
  color: white;
  border-bottom: 1px solid black;
}

.dateCell {
  display: block;
  float: left;
  position: relative;
  border: 1px solid black;
  width: 14%;
  height: 200px;
}

.topRow {
  height: 30px;
  border: none;
  text-align: center;
}

.weekend {
  background-color: $weekendBackground;
}

.grayed {
  background-color: $grayedBackground;
}

.total {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
}

.weekend > .total {
  background-color: $weekendBackground;
}

.grayed > .total {
  background-color: $grayedBackground;
}

.negative {
  color: $negativeColor;
}

.positive {
  color: $positiveColor;
}

.remaining {
  background-color: blue;
  color: white;
  font-weight: bold;
  margin: 0;
}

  // calendar accordions

div .panel-group {
  margin-bottom: 0;
}

div .panel-heading {
  padding: 2px;
}

div .panel-body {
  padding: 2px;
  font-size: 10px;
}
div .panel-group .panel+.panel {
  margin-top: 0;
}

.panel-body > :last-child.accordionItem {
  padding-bottom: 0;
  border-bottom: none;
}

.bill, .check, .budget {
  color: white;
  text-align: right;
  cursor: pointer;
}

.panel-default>.panel-heading.bill {
  background-color: $billColor;
  color: white;
  font-weight: bold;
}

.bill, .panel.bill {
  background-color: lighten($billColor, 30);
  color: black;
}

.accordionItem.bill {
  padding-bottom: 2px;
  border-bottom: 1px solid lighten($billColor, 20);
  overflow: auto;
  clear: both;
}

.accordionItem.bill:hover {
  background-color: lighten($billColor, 20);
}

.panel-default>.panel-heading.check {
  background-color: $checkColor;
  color: white;
  font-weight: bold;
}

.check, .panel.check {
  background-color: lighten($checkColor, 45);
  color: black;
}

.accordionItem.check {
  padding-bottom: 2px;
  border-bottom: 1px solid lighten($checkColor, 20);
  overflow: auto;
  clear: both;
}

.accordionItem.check:hover {
  background-color: lighten($checkColor, 20);
}

.panel-default>.panel-heading.budget {
  background-color: $budgetColor;
  color: white;
  font-weight: bold;
}

.budget, .panel.budget {
  background-color: lighten($budgetColor, 30);
  color: black;
}

.accordionItem.budget {
  padding-bottom: 2px;
  border-bottom: 1px solid lighten($budgetColor, 20);
  overflow: auto;
  clear: both;
}

.accordionItem.budget:hover {
  background-color: lighten($budgetColor, 20);
}

.biweekly {
  padding-left: 15px;
}

/* transactions styles */

.linkMouse {
  cursor: pointer;
}

.dateCell.smaller {
  height: $smallerHeight;
  font-size: 12px;
}

.dateCell.smaller.selected {
  border: 3px solid $budgetColor;
}

.dateCell.smaller.selected > .dateTitle {
  background-color: $budgetColor;
  margin-top: -2px;
}

.dateCell.highlight {
  background-color: #aaffaa;
}

.planned {
  background-color: #6666ff;
  color: white;
  text-align: right;
  padding-right: 5px;
  display: block;
  font-size: 10px;
  z-index: 99;
  //cursor: default;
}

.inactive > .dateCell {
  border: 1px solid #555;
}

.inactive > .dateCell > .dateTitle {
  background-color: $weekendBackground;
}

.inactive > .dateCell > .dateTitle.active {
  background-color: #999;
}

.inactive > .dateCell > .dateTitle.active.selected {
  background-color: $budgetColor;
}

.inactive > .dateCell > .dateTitle.transaction, .inactive > .dateCell > .active.transaction, .dateCell > .dateTitle.transaction {
  background-color: $checkColor;
}

/* recap styles */

.title {
  text-align: right;
  font-size: 20px;
  margin-top: 25px;
}

.title > :first-child {
  text-align: left;
}

.budgetList {
  text-align: right;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.budgetList > :first-child {
  text-align: left;
}

.budgetList p {
  margin: 0 0 0 15px;
}

.budgetList > :last-child {
  font-weight: bold;
}

.budgetList.net {
  font-weight: bold;
  font-size: 14px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}