<% provide(:title, 'Import transactions') %>

<div class="col-xs-offset-3 col-xs-6" style="margin-top: 15px; margin-bottom: 15pxlist">
  <p class='name'><%= @transaction.title %><span class='amount'><%= (@transaction.amount - @transaction.assigned).to_money %></span></p>
  <%= form_for @transaction do |f| %>
    <%= render "shared/formItem" do %>
      <%= f.label :title %>
      <%= f.select :title, @list, { include_blank: false }, { class: 'amount', onChange: 'selectTitle( this )' } %>
    <% end %>
    <%= f.hidden_field :id %>
    <%= f.submit "Assign" %>
    <div id="plannedCheckbox" style="<%= 'display: none;' %>">
      <%= check_box_tag 'planned', '99', false, onChange: 'checkPlanned()' %>
      <%= label :planned, "Replace Planned Item?" %>
    </div>
  <% end %>
</div>

<div class='row'>
  <div class='col-xs-offset-3 col-xs-6' id='calendar'>
    <% @month.firstday.wday.times do |x| %>
      <div class='dateCell smaller grayed'></div>
    <% end %>
    <% endDay = @month.loopDays do |l| %>
      <% loopDay = @month.days.find_by day: l.day %>
      <% dayClass = l.workday? ? '' : ' weekend' %>
      <% dayClass += ' highlight' if l.day == @transaction.day %>
      <% titleClass = l.day == @transaction.day ? ' transaction' : '' %>
      <div id='<%= l.day %>box' class='dateCell smaller<%= dayClass %>' onClick='selectDay( <%= l.day %> )' >
        <div id='<%= l.day %>title' class='dateTitle <%= titleClass %>'><%= l.day %></div>
        <% loopDay.items.where( actual: nil ).each do |x| %>
          <% if x.subtype != 'cash' %>
            <% listId = @user.lists.exists?(title: x.title) ? @user.lists.find_by(title: x.title).id : '' %>
            <div class='planned' style='display: none' data-day='<%= l.day %>' data-list-id='<%= listId %>' data-item-id='<%= x.id %>'><%= x.amount.to_money %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% (6 - endDay.to_i).times do |x| %>
      <div class='dateCell smaller grayed'></div>
    <% end %>
  </div>
</div>

<%= render "shared/modal", locals: { idName: 'import', name: 'Enter New Item', formFor: :lists, formUrl: import_path, method: 'patch' } do |f| %>

  <%= render "shared/formItem" do %>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'amount' %>
  <% end %>
  
  <%= f.hidden_field :category, :value => @transaction.category == 'debit' ? 'budget' : 'check' %>
  
  <% provide :footerimport do %>
    <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
    <%= f.submit 'Submit Item', :class => 'btn btn-primary' %>
  <% end %>
  
<% end %>

<% if @firstitem %>
  <script>
    switchItem( <%= @firstitem %> );
  </script>
<% end %>